body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eac7f3;
}

nav {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6347;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links li {
    margin: 10px 0;
    font-size: 16px;
  }

  .nav-links li a{
    font-size: 16px;
  }
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

#product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.product {
  background-color: #e4bae4;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product h3 {
  font-size: 18px;
  color: #333;
  margin: 10px;
}

.product p {
  font-size: 14px;
  color: #666;
  margin: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 5px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #ff6347;
}

.contact-section, .about-section {
  padding: 50px 20px;
  background-color: #d782da;
  text-align: center;
  margin: 20px 0;
}

.contact-section h2, .about-section h2 {
  font-size: 24px;
  color: #333;
}

.contact-section p, .about-section p {
  font-size: 16px;
  color: #666;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #292929;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-text {
  font-size: 24px;
  animation: pulse 1s infinite;
  color: #fff;
}





@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
